.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
}

.header div {
    flex: 1 1 auto;
    flex-grow: 1;
    color: #E5E7EB;
}

.logo {
    padding: 10px;
    border-radius: 25px;
}

.logo img{
    height: 100px;
    width: 100px;
}

.left-links {
    display: flex;
    align-items: center;
    justify-content: end;
}

.left-links ul{
    list-style-type: none;
    color: #E5E7EB;
    display: flex;
    margin: 0;
    padding: 16px;
    gap: 16px;
}

.description {
    display: flex;
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
}

.Information {
    flex: 1 1 auto;
    color: #E5E7EB;
}

.Information button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 4px;
}

.Description-image img{
    max-width: 300px;
}

.edu-title {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.Education {
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.Education div{
    text-align: center;
}

.Schools {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sch-col img {
    width: 100px;
    height: 100px;
}

.Quote {
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.Quote p {
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
}

.outer-contact {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

.Contact {
    border-radius: 12px;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #F9FAF8;
}

a, a:link, a:visited {
    color: #E5E7EB;
    text-decoration: none;
}